/**
 * 
 * 
 * Copyright 2020 ITWox Inc.
 * 
 * All rights reserved in ITWox Inc. authored and generated code, including the
 * selection and arrangement of the source code base regardless of the authorship
 * of individual files.......
 *
 */
{%- set tf_region = tf_region|default() %}

provider "aws" {
  region      = "{{ tf_region }}"
  access_key  = var.access_key
  secret_key  = var.secret_key
}
