/**
 * 
 * 
 * Copyright 2020 ITWox Inc.
 * 
 * All rights reserved in ITWox Inc. authored and generated code, including the
 * selection and arrangement of the source code base regardless of the authorship
 * of individual files.......
 *
 */
{%- set tf_version = tf_version|default('0.12.20') %}
{%- set provider_version = provider_version|default('2.0') %}}

terraform {
  required_version = ">= {{ tf_version }}, < 0.14"

  required_providers {
    aws = "~> {{ provider_version  }}"
  }
}
